<!--
	Barra padrão do Bootstrap

	https://getbootstrap.com/docs/5.3/components/navbar/
-->

<!-- Top Navigation Bar -->
    <header class="topbar">
      <div class="topbar-left">
        <div class="topbar-logo">
          <span class="material-symbols-outlined topbar-logo-icon">
            local_hospital
          </span>
        </div>
        <div>
          <h2 class="topbar-title">Hospital Santa Cruz</h2>
          <p class="topbar-subtitle">Monitoramento em Tempo Real</p>
        </div>
      </div>

      <div class="topbar-right">
        <div class="time-range-group">
          <button class="time-range-button">15 min</button>
          <button class="time-range-button time-range-button-active">1h</button>
          <button class="time-range-button">24h</button>
        </div>

        <div class="topbar-select-wrapper">
          <select class="select-base">
            <option>Torre A - Geral</option>
            <option>UTI Adulto</option>
            <option>Pronto Socorro</option>
            <option>Ala Pediátrica</option>
          </select>
        </div>

        <div class="topbar-actions">
          <button class="icon-button">
            <span class="material-symbols-outlined">notifications</span>
          </button>
          <div class="avatar-wrapper">
            <img
              src="https://lh3.googleusercontent.com/aida-public/AB6AXuAsFOPyEFQAqODSgPhSz7t4a_N-1hKW124GAsOXb5OwwzvihcI3qbTpqOuVB6u6BhmNbg6-f7kMI25d4JCGq2Kgj94qldNRwVuMNunVI6B9im35C5i6cPlo_O7qXvHWjHWaY1fjA6MuDdsZDXk983iTJi-9JQLANyMidAcC43RpwZeJV_tEjn6mrO0XKvy_QhquBaTHQ9S1KI5TYFU1MEcDFAWkYlaCfXVvtPXZRnxKCprSTum3UuagA-jm3acg6H2mx7OJOj6jGwc_"
              alt="Avatar do perfil do usuário"
            />
          </div>
        </div>
      </div>
    </header>