<footer class="container-fluid">
<div class="container">
    <div class="row">
    <!-- Coluna 1: Logo + redes sociais -->
    <div class="col-md-4 footer-logo-container mb-4 mb-md-0">
    </div>

    <!-- Coluna 2: Horários -->
    <div class="col-md-4 footer-section mb-4 mb-md-0">
        <h6>Horários</h6>
        <p>Segunda a Sexta: 7h às 19h</p>
        <p>Sábados: 8h às 17h</p>
        <p>Domingos: 8h às 14h</p>
        <br>
        <h6>Contato</h6>
        <p>(92) 99627-4136</p>
        <p><strong>@clubedogues</strong></p>
    </div>

    <!-- Coluna 3: Endereço -->
    <div class="col-md-4 footer-section">
        <h6>Endereço</h6>
        <p>Av. Antônio Joaquim de Moura Andrade, 380</p>
        <p>Vila Nova Conceição - SP</p>
        <p><strong>CEP:</strong> 05435-020</p>
    </div>
    </div>
</div>
</footer>
